RewriteEngine On

RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^homes$ controllers/realestate.php?action=index

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^homes$ controllers/realestate.php?action=create

RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^homes/([0-9]+)$ controllers/realestate.php?action=update&id=$1

RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^homes/([0-9]+)$ controllers/realestate.php?action=delete&id=$1