*{
  color: #ffaaa5 ;
  font-family: 'Inconsolata', monospace;
}

body {
    background-color: white;
    font-family: 'Inconsolata', monospace;
}


.card {
  width: 40%;

}

.container{
  margin: 5em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
}

header{
  text-align: center;

}

h2{
  text-align: center;
}
