*{
  font-family: 'Raleway', sans-serif;
  cursor: crosshair;
}


body {
    background-color: #e0ece4;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin: 2em;
}
.header-container {
    background-color: #a6a6a6;
    margin: 1em;
    padding: 2em;
}

.header {
    background-color: #fffffe;
    margin: 1em;
}

li {
    list-style-type: none;
}

.container {
    float: left;
    padding: 2em;
    background-color:#a6a6a6;
    margin: auto;
    width: 95%;
}
.pics {
    width: 400px;
    box-shadow: 5px 10px blue;
    margin: 0px 0px 10px 0px;
}
